/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset end */

:root {
  /* --background: white;
  --text: black;
  --line: black; */
  --background: white;
  --text: #222;
  --line: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: var(--text);
  text-decoration: none;
}

/* home start */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--line);
  margin-bottom: 80px;
}

.home .navbar {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0 10px;
  font-size: 1em;
  margin: 0 85px;
  border-bottom: 1px solid var(--line);
  text-transform: uppercase;
}

.home .navbar a {
  margin-left: 70px;
}

h1 {
  margin: 0 85px;
  font-size: 6.5em;
}

.home .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
  margin: 0 85px;
}

.home .socials {
  display: flex;
  align-items: center;
}

.home .socials a:not(:nth-child(6)) {
  margin-right: 25px;
}
/* home end */

.about,
.education,
.contact {
  padding: 12px 0 80px;
  margin: 0 85px;
}

.list {
  font-size: 16px;
  width: 1000px;
}
/* about start */
.about .content {
  display: flex;
  justify-content: space-between;
}

.about .list div {
  display: flex;
  align-items: center;
}

.about .list div:not(:last-child) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 25px;
}

.about .list div:not(:first-child) {
  padding-top: 12px;
}
/* about end */

/* skills start */
.skills {
}
/* skills end */

/* works start */
.works {
}
/* works end */

/* education start */
.education .content {
  display: flex;
  justify-content: space-between;
}

.education .detail {
  width: 450px;
}

.education .detail div h3 {
  width: 250px;
}

.education .detail div {
  display: flex;
  align-items: center;
}

.education .detail div:not(:last-child) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 25px;
}

.education .detail div.startyear {
  border-top: 1px solid var(--line);
}

.education .detail div:not(:first-child) {
  padding-top: 12px;
}

.education .list {
  display: flex;
  justify-content: space-between;
}

.education img {
  width: 250px;
  border-radius: 15px;
}

.education h3 {
  font-size: 1.1em;
}

.education h3.name {
  font-size: 1.3em;
  margin-bottom: 50px;
}
/* education end */

/* contact start */
div h2.section {
  border-bottom: 1px solid var(--line);
  padding-bottom: 12px;
  font-size: 3em;
  margin-bottom: 12px;
}

div.empty {
  width: 600px;
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

.contact a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s;
}

.contact a:hover {
  border-bottom: 2px solid var(--line);
}

h3:not(.education h3) {
  width: 250px;
  font-size: 1.1em;
}

.socials h3 {
  align-self: baseline;
}

.contact .list div {
  display: flex;
  align-items: center;
}

.contact .list div:not(:last-child) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 25px;
}

.contact .list div:not(:first-child) {
  padding-top: 12px;
}

.contact li:not(:last-child) {
  margin-bottom: 15px;
}
/* contact end */

@media only screen and (min-width: 1920px) {
  .list {
    width: 1100px;
  }

  .education img {
    width: 450px;
  }

  .education .detail {
    width: 500px;
  }
}
