/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset end */

:root {
  /* --background: white;
  --text: black;
  --line: black; */
  --background: black;
  --text: #ddd;
  --line: #777;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Helvetica;
  font-weight: 400;
  margin: 0 75px;
}

a {
  color: var(--text);
  text-decoration: none;
}

.button {
  position: relative;
  background-image: url("img/3d.png");
  background-position: 53% 42%;
  width: fit-content;
  height: 50px;
}

.home .button {
  width: 200px;
}

.button a:hover {
  background-color: transparent;
}

.button a {
  display: flex;
  align-items: center;
  font-size: 16.5px;
}

.home .button a {
  width: 196px;
  position: absolute;
  left: 2px;
  top: 2px;
}

.button a p {
  background-color: var(--background);
  height: 48px;
  transition: background-color 0.3s;
  font-size: 1.15em;
  width: 150px;
  line-height: 46px;
}

.home .button a p {
  height: 46px;
  margin-right: 2px;
  text-align: center;
  font-size: 1em;
}

.button div.arrow {
  height: 48px;
  width: 48px;
  background-color: var(--background);
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .button div.arrow {
  height: 46px;
  width: 46px;
}

.home .button a p:hover ~ div.arrow,
.home .button .arrow:hover,
.home .button a:hover ~ div.arrow {
  background-color: transparent;
}

.button div.arrow:hover ~ img.arrow,
.button a p:hover ~ div.arrow img.arrow,
.button a:hover img.arrow {
  transform: rotate(45deg);
}

img.arrow {
  transition: transform 0.3s;
}

.button .arrow img.arrow {
  width: 26.5px;
  height: 26.5px;
}

/* home start */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}

img.td {
  width: 700px;
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: -1;
  transform: rotate(220deg);
}

.home .navbar {
  display: flex;
  justify-content: end;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  padding: 40px 0 10px;
  border-bottom: 1px solid var(--line);
}

.home .navbar ul {
  display: flex;
  justify-content: space-between;
  width: 650px;
}

h1 {
  margin: 60px 0 25px 400px;
  font-size: 6.5em;
}

.home .button {
  margin-left: 700px;
}

.home .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}

.home .socials {
  display: flex;
  align-items: center;
}

.home .socials a:not(:nth-child(6)) {
  margin-right: 25px;
}
/* home end */

.body {
  padding: 12px 0 100px;
}

.body .content {
  display: flex;
  justify-content: end;
}

.about .content,
.education .content {
  justify-content: space-between;
}

h2 {
  border-bottom: 1px solid var(--line);
  padding-bottom: 12px;
  font-size: 4.75em;
  margin-bottom: 50px;
}

h3:not(.education h3.name) {
  width: 250px;
}

.list {
  font-size: 16px;
  width: 65%;
}

/* about start */
.about .list div:not(.button, .arrow) {
  display: flex;
  align-items: center;
}

.about .list div:not(.button, .arrow) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}

.about .list div:not(.name, .button, .arrow) {
  padding-top: 15px;
}

.about .button {
  background-position: 40% 60%;
}

.about div.button:last-child {
  margin-top: 20px;
  background-position: 60% 40%;
}
/* about end */

/* education start */
.education .detail {
  width: 450px;
}

.education .detail div h3 {
  width: 250px;
}

.education .detail div {
  display: flex;
  align-items: center;
}

.education .detail div:not(.button, .arrow) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}

.education .detail div.startyear {
  border-top: 1px solid var(--line);
}

.education .detail div:not(:first-child, .button, .arrow) {
  padding-top: 15px;
}

.education .list {
  display: flex;
  justify-content: space-between;
}

.education img {
  width: 250px;
  border-radius: 15px;
}

.education h3.name {
  font-size: 1.25em;
  margin-bottom: 50px;
}

.education .button {
  background-position: 30% 80%;
}
/* education end */

/* certification start */
.certification {
  position: relative;
}

.certification .list {
  display: flex;
  overflow: auto;
  padding-bottom: 30px;
}

/* width */
.certification .list::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.certification .list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
}

/* Handle */
.certification .list::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 10px;
}

.certification .group {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--text);
  padding: 15px;
  transition: background 0.2s;
}

.certification .group:hover {
  background: rgba(255, 255, 255, 0.175);
  cursor: pointer;
}

.certification img {
  width: 325px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.certification .group:not(:last-child) {
  margin-right: 25px;
}

.certification .group p:nth-child(2) {
  margin-bottom: 10px;
  color: rgb(196, 196, 196);
}

.certification .group p:nth-child(3) {
  margin-bottom: 7px;
  font-size: 1.1em;
  line-height: 1.2em;
}

.certification .group p:nth-child(4) {
  line-height: 1.1em;
}

.certification .fullimage {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  color: var(--text);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification .fullimage img.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 0;
}

.certification .fullimage img.full {
  height: 90%;
  width: auto;
  border-radius: 0;
  margin-bottom: 0;
}

.certification .info {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  position: relative;
  justify-content: center;
  background-color: var(--background);
  padding: 0 35px;
}

.certification .info img {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  margin-bottom: 0;
}

.info p:nth-child(2) {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #c4c4c4;
}

.info p:nth-child(3) {
  font-size: 1.5em;
  margin-bottom: 10px;
  line-height: 30px;
}

.info p:nth-child(4) {
  font-size: 1.3em;
  line-height: 27px;
}
/* certification end */

/* contact start */
.contact a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.1s;
}

.contact a:hover:not(.button a) {
  border-bottom: 2px solid var(--text);
}

.socials h3 {
  align-self: baseline;
}

.contact .list div {
  display: flex;
  align-items: center;
}

.contact .list div:not(:last-child) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}

.contact .list div:not(:first-child) {
  padding-top: 15px;
}

.contact li:not(:last-child) {
  margin-bottom: 15px;
}
/* contact end */

@media only screen and (min-width: 1920px) {
  .home .button {
    margin-left: 950px;
  }

  .education img {
    width: 450px;
  }

  .education .detail {
    width: 500px;
  }

  .certification img {
    width: 430px;
  }

  h1 {
    margin-left: 550px;
    font-size: 8em;
  }

  img.td {
    width: 1000px;
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: -1;
    transform: rotate(220deg);
  }
}
